/* Typography Guide */

/* Colour Guide */



/* 
1. Header Styles
2. Navigation Styles
3. Heading Styles
4. Body Styles
5. Footer Styles
6. Media Queries 
*/








html {
    overflow-x: none;
}


/* 1. Header Styles */


/* 2. Navigation Styles */

.navbar-brand {
    margin: 0 0% 0 -33%;
    font-weight: bold;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}
.nav-link {
    text-align: center;
}
.dropdown-item {
    text-align: center;
}


#DLHButton, #missingPersonButton {
    display: none;
}
/* 3. Heading Styles */


/* 4. Body Styles */
#contactHeader {
   object-fit: fill;
}

/* 5. Footer Styles */
.form-label {
    display: none;
}
.footer-bottom-bg {
    background-color: black;
}




/* 6. Media Queries */


@media only screen and (min-width: 661px) {
    /* 
    1. Header Styles
    2. Navigation Styles
    3. Heading Styles
    4. Body Styles
    5. Footer Styles 
    */

    /* 1. Header Styles */


    /* 2. Navigation Styles */
    .navbar-brand {
        margin: 0 55% 0 0%;
    }
    /* 3. Heading Styles */


    /* 4. Body Styles */


    /* 5. Footer Styles */
    .form-label {
        display: block;
    }
}


@media only screen and (min-width: 992px) {
    /* 
    1. Header Styles
    2. Navigation Styles
    3. Heading Styles
    4. Body Styles
    5. Footer Styles 
    */

    /* 1. Header Styles */


    /* 2. Navigation Styles */

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    }
    .navbar-brand {
        margin: 0 5% 0 0%;
    }
    #DLHButton, #missingPersonButton {
        display: block;
    }
    .nav-link {
        font-size: 1.25vw;
        text-align: unset;
    }

    /* 3. Heading Styles */


    /* 4. Body Styles */


    /* 5. Footer Styles */
}
@media only screen and (min-width: 1200px) {
    /* 
    1. Header Styles
    2. Navigation Styles
    3. Heading Styles
    4. Body Styles
    5. Footer Styles 
    */

    /* 1. Header Styles */


    /* 2. Navigation Styles */
    .navbar-brand {
        margin: 0 15% 0 0%;
    }
    .nav-link {
        font-size: 1.15vw;
        text-align: unset;
    }
   
    /* 3. Heading Styles */


    /* 4. Body Styles */


    /* 5. Footer Styles */
}