/* Typography Guide */

/* Colour Guide */



/* 
1. Header Styles
2. Navigation Styles
3. Heading Styles
4. Body Styles
5. Footer Styles
6. Media Queries 
*/








html {
    overflow-x: none;
}


/* 1. Header Styles */


/* 2. Navigation Styles */

.navbar-brand {
    margin: 0 0% 0 -33%;
    font-weight: bold;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}
.nav-link {
    font-size: 5vw;
    text-align: center;
}
.dropdown-item {
    text-align: center;
}


#DLHButton, #missingPersonButton {
    display: none;
}
/* 3. Heading Styles */


/* 4. Body Styles */


/* 5. Footer Styles */


/* 6. Media Queries */

@media only screen and (min-width: 992px) {
    /* 1. Header Styles */


    /* 2. Navigation Styles */

    .navbar-brand {
        margin: 0 5% 0 5%;
    }
    #DLHButton, #missingPersonButton {
        display: block;
    }
    .nav-link {
        font-size: 1.25vw;
        text-align: unset;
    }

    /* 3. Heading Styles */


    /* 4. Body Styles */


    /* 5. Footer Styles */
}
@media only screen and (min-width: 1200px) {
    /* 1. Header Styles */


    /* 2. Navigation Styles */
    .navbar-brand {
        margin: 0 5% 0 15%;
    }
    .nav-link {
        font-size: 1.15vw;
    }
   
    /* 3. Heading Styles */


    /* 4. Body Styles */


    /* 5. Footer Styles */
}