        <footer class="bg-primary  pt-5 pb-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-md-3 col-lg-4 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-white">Contact Information</h5>
                        <div class="mb-2"><a class="text-dark" href="https://goo.gl/maps/BRvpU4cRvY6hhDNz5">C/O ALZHEIMER SOCIETY OF CALGARY, 800 7015 MACLEOD TRAIL SW, CALGARY, CANADA</a></div>
                        <div class="mb-2"><a class="text-dark" href="tel:+4032900110">403-290-0110 EXT 237</a></div>
                        <div class="mb-2"><a class="text-dark" href="mailto:kim@dementianetworkcalgary.ca">kim@dementianetworkcalgary.ca</a></div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
                        <h5 class="text-white font-weight-bold text-uppercase mb-4">Dementia Network Calgary</h5>
                        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
                        <h5 class="text-white font-weight-bold text-uppercase mb-4">Follow Us</h5>
                        <p class="text-dark">Don't forget to follow us via our various social media profiles and keep up with the latest scoop about our company.</p>
                        <div class="row">
                            <div class="col-3"><img src="img/youtube.svg" alt="Youtube"></div>
                            <div class="col-3"><img src="img/twitter.svg" alt="Twitter"></div>
                            <div class="col-3"><img src="img/linkedin.svg" alt="LinkedIn"></div>
                            <div class="col-3"><img src="img/facebook2.svg" alt="Facebook"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        
