
    <div class="container mt-5">
        <form action="#" class="row g-3">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="fName" class="form-label">First Name (required)</label>
                <input type="text" class="form-control" #="fName" required />
            </div>
            <div class="col-md-4">
                <label for="lName" class="form-label">Last Name (required)</label>
                <input type="text" class="form-control" #="lName" required />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label for="emailInfo" class="form-label">Email (required)</label>
                <input type="email" class="form-control" id="emailInfo" required>
            </div>
            <div class="col-md-3">
                <label for="phoneNumber" class="form-label">Phone </label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="+1 (519) 867-5309">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label for="messages" class="form-label">Send Us a Message</label>
                <textarea name="" id="messages" cols="30" rows="3" class="form-control" required></textarea>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button type="submit" class="btn btn-primary mb-5">Submit</button>
            </div>
            <div class="col-md-2"></div>
        </form>
    </div>

